<!--<div class="user" *ngIf="user">
    <img *ngIf="user?.Gravatar" [src]="user?.Gravatar" [title]="user?.Name" class="img-circle user-img" />
    &nbsp;
    <span>
        <span>{{user?.Name}}</span>
        <span *ngIf="user?.IsAdmin"><i title="Admin" class="fa fa-unlock-alt" aria-hidden="true"></i></span>
        <span *ngIf="!user?.IsAdmin"><i title="Non-Admin" class="fa fa-lock" aria-hidden="true"></i></span>
    </span>
</div>  -->

<div class="user">

    <span> <img src="../../../assets/images/featured_superintern.png" alt="Avatar" class="avatar  img-circle"></span>
    <span>
        <span>Ali Raddani</span>&nbsp;
        <i class="fa fa-lock"></i>
    </span>
</div>