<div id="div-display">
        <div *ngIf="showMainContent"  class = "displayPlugins">
                <div class="div"  >
                        <h3>{{title}}</h3>
                        <h6 id="clusterName">{{pName}}</h6>
                        <button id="btn-refresh" (click)="displayPlugins()">
                                <i class='fas fa-sync' style='font-size:26px;color:rgb(97, 97, 97)'></i></button>
                </div>
                <br><br><br>
                <div *ngFor="let plugin of plugins; let i = index;">
                        <div class="container-fixed  plugins" >
                                <div class=" row">
                                        <div class="col-7 "> <i class="fa fa-lg fa-plug   " aria-hidden="true"
                                                        style="color:#57c5a5; padding-left: 10px;"></i>
                                                <span id="pluginName" (click)="ShowHideButton(plugin.name)"><strong>{{plugin.name}}</strong></span></div>
                                        <div class="col-1"> <span
                                                        [ngStyle]="{'color':plugin.status === 'Running' ? 'rgb(92, 184, 92)': '#6a6b6b' }">{{plugin.status}}</span>
                                        </div>
                                        <div class="col-3" style=" color: #818a91;"
                                                [ngStyle]="{'visibility':plugin.status ==='Deployed' || plugin.status ==='Offline' ? 'hidden' : 'visible' }">
                                                Version: {{plugin.version}}</div>
                                        <div class="col-1"
                                                [ngStyle]="{'visibility':plugin.status ==='Deployed' || plugin.status ==='Offline' ? 'hidden' : 'visible' }">
                                                <i (click)="onSelect(i)" class="fa fa-lg  arrow"
                                                        [ngClass]="{'fa-caret-down' : selectedIndex !== i, 'fa-caret-up' : selectedIndex === i }"></i>
                                        </div>
                                </div>

                        </div>
                        <div *ngIf="selectedIndex === i" class="widget">
                                        <div class="divTables" *ngFor=" let node of plugin.nodes">

                                                <table class="table table-striped"
                                                        *ngIf=" node.version !== undefined &&  node.status ==='Running' ">
                                                        <thead>
                                                                <tr>
                                                                        <th colspan="2">{{node.name}}</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr>
                                                                        <td style=" background-color:#179de2;">
                                                                                <i class="fas fa-3x fa-tachometer-alt"
                                                                                        style=" padding: 10px;
                                                                      padding-left:32px;  height: 100%; color:#fff;"></i>
                                                                        </td>
                                                                        <td style=" background-color: #58bbee; padding-left:15px;"
                                                                                *ngIf="node.diagnostics != null">
                                                                                <h5><span>Utilized:</span>
                                                                                        {{node.diagnostics.memoryUtilizationPercentage}}
                                                                                </h5>
                                                                                <div>Disk:
                                                                                        {{node.diagnostics.pluginDiskUsage}}
                                                                                </div>
                                                                                <div>Deploy:
                                                                                        {{node.diagnostics.deploymentDiskUsage}}
                                                                                </div>
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                        </div>

                </div>
        </div>
       
        <div class="displayPluginDetail"   *ngIf="!showMainContent" >

      <div class="div"  >
                <button id="btnBack"  class="button-icon"  (click)="goBack()" >

                                <i class="fa fa-angle-left fa-3x" style='font-size:46px;color:rgb(97, 97, 97)'></i></button>
                                
        <h3>Plugin Details</h3>
        <h6 id="clusterName">{{pluginName}}</h6>
        <!-- <div class="pull-left">
                <div class="header-button back-button" (click)="goBack()">
                    <div class="button-icon">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </div>
                    <span class="button-subtext">Back</span>
                </div>
            </div> -->
        <button id="btn-refresh"     >
                <i (click)="goBack()" class='fas fa-sync' style='font-size:26px;color:rgb(97, 97, 97)'></i></button>

<div>fhfhfdhfhddfffffffffffffffffffff<br>fgggggggggggggggggggggggg</div>
        </div>
</div>
</div>